<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080199718195-ifmddq0o56fb7fqd296kj40eruocahsq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080199718195-ifmddq0o56fb7fqd296kj40eruocahsq</string>
	<key>API_KEY</key>
	<string>AIzaSyAIR2lquKUhNNeWURtz0klolzBozhciyJw</string>
	<key>GCM_SENDER_ID</key>
	<string>1080199718195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codejunkers.menu</string>
	<key>PROJECT_ID</key>
	<string>notify-dev-4a257</string>
	<key>STORAGE_BUCKET</key>
	<string>notify-dev-4a257.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080199718195:ios:58297d7e409a1735160a46</string>
</dict>
</plist>